.header {
  max-width: 1200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  z-index: 1;
}

.header__logo-link {
  position: absolute;
  z-index: 1;
  left: 530px;
}

.header__navigation {
  width: 1200px;
  min-height: 57px;
  line-height: 26px;
}

.header__navigation-list {
  margin: 15px 0 12px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__navigation-item {
  width: 240px;
}

.header__navigation-link--active {
  color: #766357;
  cursor: pointer;
}

.header__navigation-link:hover {
  color: #81b3d2;
  outline: none;
}

.header__navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header li:nth-child(1) {
  text-align: left;
  margin-left: 73px;
}

.header li:nth-child(2) {
  text-align: left;
  margin-right: 48px;
}

.header li:nth-child(3) {
  text-align: right;
  margin-left: 48px;
}

.header li:nth-child(4) {
  text-align: right;
  margin-right: 73px;
}

.header-nav a {
  color: #000000;
}
