body {
  margin: 0;
  font-family: Pt Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;  
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: #000000;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation  {
  list-style: none;
  color: #000000;
}
.hotels {
  text-align: center;
  background-color: #ffffff;
}
h3 {
  font-size: 30px;
  line-height: 36px;	
}
.background-welcome{
	font-size: 14px;
  line-height: 26px;
	text-align: center;
}
h2 {
	font-size: 21px;
  line-height: 26px;
}
.hotels-sentence {
  font-size: 14px;
  line-height: 24px;
}
.hotels-info {
  font-size: 21px;
  width: 568px;
  line-height: 86px;
  color: #ffffff;
  margin: 0 auto;
  background-color: #766257;
  text-align: center;
}
.hotels-info:hover,
.hotels-info:focus {
	background-color: #604e44;
}
.hotels-info:active {
	background-color: #503e32;
}
input {
	height: 38px;
    width: 346px;
	background-color: #f2f2f2;
}
input:hover {
	background-color: #ebebeb;
}
input:focus {
	background-color: #ffffff;
}
.hotels-search {
  width: 568px;
  line-height: 395px;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
}
.hotels-item {
  font-size: 14px;
  line-height: 26px;
   
}
.people {
	height: 38px;
    width: 38px;
}
.plus,
.minus {
	border: none;
	height: 38px;
    width: 38px;
	color: #a9a9a9;
}
.plus:hover,
.minus:hover {
	color: #000000;
}
.plus:active,
.minus:active {
	color: #81b4d3;
}
.button {
	font-size: 21px;
	width: 458px;
  line-height: 58px;
  color: #fefefc;
  background-color: #82b3d3;  
}
.button:hover {
	color: #feffff;
  background-color: #669ebf; 
}
.button:active {
	color: #93b9d0;
  background-color: #5596be; 
}
footer {
	background-color: rgba(255, 255, 255, 0.5);
}

.hashtag {
	font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.footer-social{
	list-style: none;
	text-align: center;
}
.footer-copyright {
	text-align: center;
}

.footer-copyright .button-html {
	color: #241e20;
}
.footer-copyright .button-html:hover {
	color: #80b2d3;
}
.footer-copyright .button-html:active {
	color: #bcbabb;
}
.site-navigation-current a  {
	color: #766357;
}
.inner-page {
	color: #000000;
	background-color: #f2f2f2;
}
.catalog {
	background-color:#ffffff;
}
.catalog-item-image {
	width: 135px;
	height: 90px;
}
.inner-item {
	color: #000000;
}
.inner-item:hover {
	color: #80b3d2;
}
.inner-item:active {
	color: #c9c9c9;
}
.catalog-item-info a {
	height: 110px;
    width: 27px;
	background-color: #81b3d2;
}
.catalog-item-price a {
	height: 142px;
    width: 27px;
	background-color: #766357;
}
.catalog-item-price a:hover {
	background-color: #604e43;
}
.catalog-item-price a:active {
	background-color: #503e33;
	color: #857871;
}
.catalog-item-price,
.catalog-item-info {
	text-align: center;
}
.catalog-list {
	list-style: none;
}
