body {
  margin: 0;
  font-family: Pt Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;  
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: #000000;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation  {
  list-style: none;
  color: #000000;
}

.welcome-block {
	background-color: #ffffff;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
 
  background-position: top center; 
  align-items: center;  
}

.features {
	background-color: #ffffff;
}
.features-text{
	width: 1200px;
    padding: 50px 0;
    text-align: center;
}
.features-text h2 {
    margin-top: 11px;
    margin-bottom: 27px;
}
.features-text p {
	line-height: 26px;
    margin-bottom: 0px;
}
.advantages {
	    display: flex;
    width: 1200px;
}
.advantages-item {
	    width: 400px;
    min-height: 256px;
	    text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
    color: #ffffff;
    background-color: #81b3d2;
}
.advantages-picture {
	    width: 800px;
    height: 256px;
}
.advantages-block {
	 display: flex;
    width: 1200px;
}
.advantages-block-item {
	    align-items: center;
    width: 400px;
    padding-top: 60px;
    padding-bottom: 67px;
    text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.advantages-block-item:nth-child(1) .advantages-block-picture{
	width: 75px;
    height: 72px;
    background-image: url(../img/icon-1.png);
    background-repeat: no-repeat;
    
}
.advantages-block-item:nth-child(2) .advantages-block-picture{
    width: 74px;
    height: 70px;
    background-image: url(../img/icon-3.png);
    background-repeat: no-repeat;
    
}
.advantages-block-item:nth-child(3) .advantages-block-picture{
width: 64px;
    height: 76px;
    background-image: url(../img/icon-2.png);
    background-repeat: no-repeat;
    
}
.advantages-block-item h2 {
	    color: #000000;
    font-size: 21px;
    font-weight: bolder;
    margin-top: 28px;
    margin-bottom: 10px;
}
.advantages-num {
	background-color: #eeeeee;
}

.hotels {
  text-align: center;
  background-color: #ffffff;
}
.hotels h2 {
  font-size: 30px;
    font-weight: bold;
    margin-top: 58px;	
}
.background-welcome{
	font-size: 14px;
  line-height: 26px;
	text-align: center;
}
h2 {
	font-size: 21px;
  line-height: 26px;
}
.hotels-sentence {
     margin-bottom: 48px;
    line-height: 24px;
}
.hotels-info {
	 text-transform: uppercase; 
	width: 568px;
	height: 86px;
  font-size: 21px; 
  line-height: 26px;
  color: #ffffff;
  margin: 0 auto;
  background-color: #766257;
  text-align: center;
  border: none;
}
.hotels-info:hover,
.hotels-info:focus {
	background-color: #604e44;
}
.hotels-info:active {
	background-color: #503e32;
	color: #857871;
}

input {
	
	height: 38px;
    width: 346px;
	background-color: #f2f2f2;
}
input:hover {
	background-color: #ebebeb;
}
input:focus {
	background-color: #ffffff;
}
.hotels-search {
	
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
}
.hotels-item-in {
	margin-right: 55px;
	margin-left: 55px;
  font-size: 14px;
  line-height: 26px;
   
}
.hotels-item-in label,
.hotels-item-in input {
	margin-top: 55px;
	margin-bottom: 29px;
}

.hotels-item-in input {
	margin-left: 20px;
	border: none;
}
.hotels-item-out {
	margin-right: 55px;
	margin-left: 55px;
  font-size: 14px;
  line-height: 26px;
   
}
.hotels-item-out label,
.hotels-item-out input {
	
	margin-bottom: 29px;
}

.hotels-item-out input {
	margin-left: 16px;
	border: none;
}
.hotels-item-age{
	margin-right: 55px;
	margin-left: 55px;
	margin-bottom: 55px;
}
.hotels-item-age input {
	height: 38px;
    width: 38px;
	border: none;
	
}


.plus,
.minus {
	
	border: none;
	height: 38px;
    width: 38px;
	color: #a9a9a9;
	background-color:#f2f2f2;
}
.plus:hover,
.minus:hover {
	color: #000000;
	background-color:#ebebeb;
}
.plus:active,
.minus:active {
	color: #81b4d3;
}
.hotels-search .button {
	width:458px;
	height:58px;
	border: none;
	font-size: 21px;
  line-height: 26px;
  color: #fefefc;
  background-color: #82b3d3;
 text-transform: uppercase;
margin-bottom: 55px; 
}
.button:hover {
	color: #feffff;
  background-color: #669ebf; 
}
.button:active {
	color: #93b9d0;
  background-color: #5596be; 
}
  footer {
	background-color: rgba(255, 255, 255, 0.5);
}

.hashtag {
	font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.footer-social{
	display: flex;
	flex-wrap: wrap;
justify-content: space-between;	
	list-style: none;
	text-align: center;
	width: 150px;
	margin: 0 auto;
	padding: 0;
}
.visually-hidden {
	display: none;
}
.social-button {
display: flex;	
align-items: center;
justify-content: center;
    width: 46px;
	height: 48px;
    background-color: #81b3d2;
     
}
.social-button:hover {
background-color: #669ec0;	
}
.social-button:active{
 background-color: #5496bd;
}
.social-button:active path{
	fill: #88b6d1;
	}
.footer-copyright {
	text-align: center;
}

.site-navigation-current a  {
	color: #766357;
}
.inner-page {
	 
	color: #000000;
	background-color: #f2f2f2;
}
.catalog {
	background-color:#ffffff;
}
.catalog-item-image {
	width: 135px;
	height: 90px;
}
.inner-item {
	color: #000000;
}
.inner-item:hover {
	color: #80b3d2;
}
.inner-item:active {
	color: #c9c9c9;
}

.catalog-item-info .button{
	height: 110px; 
    width: 27px;
	background-color: #81b3d2;border: none;
	font-size: 14px;
  line-height: 26px;
  color: #fefefc;
  
 text-transform: uppercase;
}
.catalog-item-info .button:hover{
	height: 110px;
    width: 27px;
	background-color: #669ec0;
}
.catalog-item-info .button:active {
	color: #93b9d0;
  background-color: #5596be;
}
.catalog-item-price a {
	height: 142px;
    width: 27px; border: none;
	font-size: 21px;
  line-height: 26px;
  color: #fefefc;
  
 text-transform: uppercase;
	background-color: #766357;
}
.catalog-item-price a:hover {
	background-color: #604e43;
}
.catalog-item-price a:active {
	background-color: #503e33;
	color: #857871;
}
.catalog-item-price,
.catalog-item-info {
	text-align: center;
}
.catalog-list {
	list-style: none;
}
.rating {
	text-align: center;
}

/* ----- Сеточные стили ----- */

html,
body {
	min-width: 1280px;
	min-height: 2762px;
}
.container  { 
    width: 1200px;
	margin: 0 auto;
	text-align: center;
	background-color: #ffffff;
}
.main-header {
display: flex;
width: 1200px;
height: 57px;


}






.site-navigation {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	min-height: 57px;
	
	
}

header ul {
	margin: 0;
	
   }
 

.site-navigation li {
	width: 240px;
	
}

.site-navigation li:nth-child(1) {
   margin-left: 73px;
	text-align: left;
	padding-top: 13px;
    padding-bottom: 17px;
}

.site-navigation li:nth-child(2) {
	
    text-align: center;
	margin-bottom: 40px;
	padding-top: 13px;
    padding-bottom: 17px;
}
.site-navigation li:nth-child(3) {
	width:244px;	 
text-align: center;
}
.site-navigation li:nth-child(4) {
	 
text-align: center;
padding-top: 13px;
    padding-bottom: 17px;
}
.site-navigation li:nth-child(5) {
    margin-right: 73px;
text-align: right;
padding-top: 13px;
    padding-bottom: 17px;}
	


section {
	    
    width: 1200px;
}
.welcome-block {
	width: 1200px;
	min-height: 510px;
	
}
.block1 {	

    margin-top: 72px;
    margin-bottom: 21px;
}
.features{
	width: 1200px;
	height: 216px;
	
}
.hotels-search {
	width: 568px;
	min-height: 395px;
	background-color: grey;
}
.catalog {
	width: 1200px;
	min-height: 452px;
	
}

.catalog-list li {
	width: 1056 px;
	height: 91px;
	display: flex;
    padding: 25px 32px;
    border-bottom: 1px solid #e5e5e5;
	
}
.catalog-item-image{
    width: 165px;
height: 90px;
text-align: left;
background-color: red;
}


.catalog-item-info .button {
	width: 110px;
	height: 27px;
	padding: 3px 17px;
}

.catalog-item-price
{display: flex;
flex-direction:column ; 
text-align: left;
	
	
}

.catalog-item-price .price {
	margin-bottom: 16px;
}
.catalog-item-price a {
    width: 142px;
	height: 27px;
    padding: 3px 17px; 
    font-size: 14px;
    font-weight: bold;
	text-align: center;

}


.rating {
	height: 97px;
    width: 110px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.stars img {
	padding-left: 3px;
	width: 19px;
	height: 19px;
}
.rating-size {
	    padding-top: 5px;
    padding-bottom: 5px;
    color: #666666;
    background-color: #f2f2f2;
    text-align: center;
}

.main-footer {
	padding: 60px 0;

    
}
.main-footer .container {
  display: flex;
 
 
}
.a-tag {
	width: 240px;
  margin: 0;
  margin-left: 73px;
   margin-right: 88px;

text-align: center;

}
.social{
	width: 400px;
	
	
	text-align: center;
}
.footer-copyright {
	width: 240px;
  margin: 0;
  margin-left: auto;
  margin-right: 73px;
text-align: center;

}


