@import './normalize.css';
@import './header.css';
@import './footer.css';
body {
  font-family: Pt Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  text-align: center;
  background-color: #ffffff;
}

h2 {
  font-size: 21px;
  line-height: 26px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map {
  width: 100%;
  min-height: 593px;
  background: #7293b6 url(../img/map.jpg) no-repeat center center;
}

/* .map-iframe {
  border: 0px;
  overflow: hidden;
  z-index: 2;
} */

/* внутреняя страница */

.inner-page {
  color: #000000;
  background-color: #f2f2f2;
}

.filters {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 215px;
  color: #ffffff;
  background-color: #2d4349;
  background-image: url(../img/filter_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.filters legend {
  text-align: left;
}

.left-column {
  margin-left: 72px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.left-column fieldset {
  padding: 0;
  margin: 0;
}

.filter-range {
  width: 315px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  padding: 0;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  margin-bottom: 20px;
  height: 34px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
}

.price-controls .min-price {
  padding-left: 65px;
  width: 91px;
}

.price-controls .max-price {
  width: 100px;
  padding-left: 55px;
}

.price-controls input {
  width: 40px;
  height: 33px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: 0 0;
  border: 0;
}

.price-controls input:hover, .price-controls input:active {
  cursor: pointer;
  background-color: transparent;
}

.price-controls input:focus {
  outline: 3px solid #81b3d2;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
  line-height: 21px;
}

.filter-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-form fieldset:last-child {
  margin-left: 117px;
}

.filter-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter-form legend {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  font-weight: bold;
  font-size: 16px;
}

.checkbox-list li {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox-list label {
  position: relative;
  padding-left: 10px;
  display: block;
  cursor: pointer;
  font-weight: normal;
}

.checkbox-list.house label {
  padding-left: 13px;
}

.checkbox-input+label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -1px;
  width: 27px;
  height: 23px;
  background: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.checkbox-input:checked+label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -28px;
  width: 27px;
  height: 23px;
  background: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.checkbox-input:focus+label {
  outline: 3px solid #81b3d2;
}

.checkbox-input:disabled+label {
  color: #6a6a6a
}

.checkbox-input:disabled+label::before {
  background: url(../img/checkbox-off-dis.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.checkbox-input:checked:disabled+label::before {
  background: url(../img/checkbox-on-dis.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.filter-range {
  margin: 0;
  margin-right: 75px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter-range-title {
  text-align: left;
}

.show-button {
  margin: 0 auto;
  padding: 5px 33px 7px 35px;
  width: 138px;
  color: #ffffff;
  line-height: 21px;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.show-button:hover, .show-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background: #fefefe;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 73px 15px 71px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sorting h2 {
  width: 165px;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sorting-type {
  width: 856px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-type span {
  font-weight: normal;
}

.sorting-type ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

.sorting-list li {
  padding-right: 33px;
}

.sorting-list a {
  font-weight: normal;
  text-decoration: none;
  color: #dadada;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list .active {
  text-decoration: none;
  color: #81b3d2;
  border: none;
}

.sorting-list a:hover, .sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000;
  border: none;
}

.checked {
  border: none;
  color: #81b3d2;
}

.sorting-order-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sorting-order-buttons polygon {
  fill: #cacaca;
}

.sorting-order-buttons polygon:hover, .sorting-order-buttons polygon:focus {
  fill: #231f20;
}

.sorting-order-buttons polygon:active {
  fill: #81b3d2;
}

.sorting-order-buttons polyline {
  fill: #cacaca;
}

.sorting-order-buttons polyline:hover, .sorting-order-buttons polyline:focus {
  fill: #231f20;
}

.sorting-order-buttons polyline:active {
  fill: #81b3d2;
}

.sorting-order-buttons .active polyline {
  fill: #81b3d2;
}

.up-button, .down-button {
  margin: 0;
  margin-left: 12px;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.catalog-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
}

.catalog-item {
  padding: 0;
  margin: 0;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.item-wrapper {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: auto;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.catalog-item img {
  margin-left: 73px;
  margin-right: 30px;
}

.item-wrapper h2 {
  margin: 0;
  padding-bottom: 7px;
  text-align: left;
}

.catalog-item h2>a {
  line-height: 26px;
  color: #000000;
}

.catalog-item h2>a:hover, .catalog-item h2>a:focus {
  color: #81b3d2;
}

.catalog-item h2>a:active {
  color: #b2b2b2;
}

.catalog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.catalog-type, .catalog-price {
  line-height: 21px;
  margin-bottom: 16px;
  font-weight: normal;
}

.catalog-type {
  width: 110px;
}

.catalog-price {
  width: 142px;
  margin-left: auto;
}

.catalog-score {
  margin-right: 73px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-score span {
  font-weight: normal;
}

.catalog-rating {
  width: 110px;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  color: #666666;
  background-color: #f2f2f2;
}

.catalog-actions a {
  margin: 0;
  padding: 5px 17px 4px 17px;
}

.catalog-actions a:first-child {
  color: #ffffff;
  background-color: #81b3d2;
  margin-right: 6px;
}

.catalog-actions a:last-child {
  margin-left: -3px;
  color: #ffffff;
  background-color: #766357;
}

.catalog-actions a:first-child:hover, .catalog-actions a:first-child:focus {
  background-color: #669ec0;
}

.catalog-actions a:last-child:hover, .catalog-actions a:last-child:focus {
  background-color: #604e43;
}

.catalog-actions a:first-child:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.catalog-actions a:last-child:active {
  color: #857871;
  background-color: #503e33;
}

.catalog-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.catalog-stars img {
  margin: 0;
  margin-left: 6px;
  padding: 0;
}
